<!DOCTYPE html>
<html>
  <body> 
    <h2>Sistema de produção vegetal (Veggie)!</h2>
    </h2>꒦꒷꒦꒷꒦꒷꒦꒷꒦꒷꒦꒷꒦꒷꒦꒷꒦꒷꒦꒷꒦꒷꒦꒷꒦</h2>
    <h3>introdução</h3>
    <p>É uma  câmara de crescimento na estação para pesquisa de plantas, um projeto abrangente que trata da pesquisa de plantações em gravidade zero. Além de cultivar vegetais no espaço, a Veggie apoiou uma variedade de experimentos usados ​​para determinar como as plantas respondem à microgravidade, fornecem benefícios psicológicos em tempo real para a tripulação e conduzem atividades de extensão.
    Veggie foi projetado e construído pela Orbital Technologies Corporation da Nasa e patrocinado pelo Programa de Biologia Espacial da Divisão de Pesquisa e Aplicações de Ciências Físicas e de Vida Espacial da Nasa
    </p>
    <form method="post" action="">
  <div>
</form>
  </body>
</html>